*, *::before, *::after{
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  transition: all .3s;
  text-decoration: none;
}

body{
  width: 100vw;
  height: 100vh;
  font-size: calc(.7vw + .5vh);
  color: #ffffff;
  font-weight: bold;
  .main{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 15% 85%;
    .aside{
      background-color: #0a75ad;
      display: grid;
      grid-template-rows: 20% 65% 15%;
      .aside_header {
        align-self: center;
        justify-self: center;
        width: 100%;
        text-align: center;
        height: 40%;
        .logo_title{
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          text-align: center;
          span:nth-child(1){
            position: relative;
            z-index: 2;
            /* line-height: 6rem; */
            &::before{
              content: "";
              width: 100%;
              height: 100%;
              background: #ffffff;
              position: absolute;
              top: 0;
              left: 0;
              z-index: -1;
              /* transform: scale(1.5); */
              border-radius: 50%;
            }
          }
          .logo{
            width: 100%;
            height: 100%;
            flex-basis: 30%;
            img{
              transform: scale(0.6);
            }
          }
        }
      }
      .aside_main{
        display: grid;
        align-items: center;
        /* justify-content: center; */
        justify-items: center;
        .link{
          width: 85%;
          display: flex;
          align-items: center;
          justify-content: space-around;
          padding: calc(.3vh + .2vw);
          border-radius: .5rem;
          &:hover{
            background: #ffffff;
            color: #0a75ad;
            cursor: pointer;
          }
          .logo{
            flex-basis: 20%;
            /* width: 100%; */
            /* height: 100%; */
            /* display: flex; */
            /* align-items: center; */
            line-height: 0rem;
            /* padding: calc(1vh + 0vw); */
          }
          .title{
            flex-basis: 70%;
            text-align: center;
          }

        }
      }
    }
  }
}

img{
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 361px){
  body{
    .main{
      &.open{
        grid-template-columns: 30% 70%;
        .aside{
          .aside_header {
            .logo_title{
              flex-wrap: wrap;
              /* width: 50%; */
              padding: calc(.4vw + .4vh);
              .title{
                font-size: 1.7vh;
                display: inline;
              }
              .logo{
                flex-basis: 50%;
              }
            }
          }
          .aside_main{
            .link{
              flex-wrap: wrap;
              .logo{
                flex-basis: 45%;
              }
              .title{
                display: inline;
                font-size: 1.4vh;
              }

            }
          }
        }
      }
      .aside{
        .aside_header {
          .logo_title{
            align-items: center;
            justify-content: center;
            .title{
              display: none;
            }
            .logo{
              flex-basis: 100%;
            }
          }
        }
        .aside_main{
          .link{
            .logo{
              flex-basis: 100%;
            }
            .title{
              display: none;
            }

          }
        }
      }
    }
  }

}